<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hit & Blow</title>
</head>
<body>
	<header>
		<h2>Hit & Blow</h2>
		<div>You hit three numbers.</div>
		<div>One number is 1 to 5.</div>
		<div>Three number is each different number.</div>
		<div>"Hit" is "input number and answer number is equal and match
			location."</div>
		<div>"Blow" is "input number and answer number is only equal".</div>
		<div>Three hit is goal.</div>
	</header>
	<main>
		<form method="post" th:action="@{/answer}">
			<input type="number" min="1" max="5" name="num1"> <input
				type="number" min="1" max="5" name="num2"> <input
				type="number" min="1" max="5" name="num3"> <input
				type="submit" name="try_button" value="Try!">
		</form>
		<div>Try numbers</div>
		<div th:text="${errorMsg}"></div>
		<div th:text="${hitblowMsg}"></div>

		<table>
			<tr th:each="number:${numberList}">
				<td th:text="${number}"></td>
			</tr>
		</table>
		<div th:text="${clearMsg}"></div>
	</main>
</body>
</html>